* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: normal;
  background-color: white;
}

h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  color: #666d89;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 900;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 0.8em;
}

button {
  color: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  filter: saturate(1.25);
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

.services-block,
.header-block,
.slider-block {
  width: 100%;
}

.header-block {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  position: fixed;
  display: block;
  z-index: 100;
}

.slider-block {
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  height: 594px;
  z-index: 10;
  padding-top: 97px;
}

.services-block {
  background-color: #f2f2f2;
  border-bottom: 6px solid white;
}

header,
section.slider,
section.services {
  width: 100%;
  max-width: 1020px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}



header {
  display: flex;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  justify-content: space-between;
  padding-top: 29px;
  padding-bottom: 30px;
}

.logo {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 25px;
}
.logo a {
  color: white;
  text-decoration: none;
}

h1 span {
  color:  #f06c64;
}

nav {
  margin-top: 9px;
  letter-spacing: -0.0115em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
}

nav ul li {
  display: inline-block;
  
  list-style-type: none;
}

nav a {
  position: relative;

  font-size: 12px;
  text-decoration: none;
  color:  #f06c64;
}

nav a :before {
  content: "·";
  position: absolute;
  top: 0;
  left: -1.35em;
  color: #494e62;
  border-radius: 50%;
}

nav a {
  margin-left: 2.19em;
  color: white;
}

nav a:hover {
  color:  #f06c64;
}



section.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
  padding-bottom: 58px;
}
.slider-text-none {
    display: none;
}
section.slider > button,
section.slider > .images-phone,
section.slider > .images-phone > img {
  display: inline-block;
  vertical-align: middle;
}

button.button {
  width: 16px;
  height: 27px;
  padding: 150px 0;
  background: transparent url("assets/button.svg") no-repeat center center;
  border: none;
}

button.button.left {
  margin-left: 2px;
}

button.button.right {
  transform: scale(-1,1);
}

.slider > .images-phone > img {
  vertical-align: middle;
  margin-left: 54px;
}
.slider > .images-phone > img:nth-child(2) {
  margin-left: 69px;
  margin-bottom: 1px;
}
.slider > .images-phone {
  width: calc(100% - 16px*2);
  margin: 0 auto;
}


.services {
  padding-top: 59px;
  padding-bottom: 30px;
}

.services p {
  color: #767e9e;
}

.services > p {
  margin-block-start: 18px;
  margin-block-end: 0;
  text-align: justify;
  letter-spacing: -0.012em;
  font: 300 18px/30px "Lato", "Arial", sans-serif;
}

.services-elements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 47px;
  padding-left: 1px;
}

.services-elements--service {
  width: 220px;
  margin-bottom: 31px;
  padding-left: 80px;
  background: transparent no-repeat top left;
}

.services-elements--service.custom-design {
  background-image: url("assets/icon-custom-design.svg");
}

.services-elements--service.inovative-ideas {
  background-image: url("assets/icon-inovative-ideas.svg");
}

.services-elements--service.love-is-the-answer {
  background-image: url("assets/icon-love-is-the-answer.svg");
}

.services-elements--service.responsive-layout {
  background-image: url("assets/icon-responsive-layout.svg");
}

.services-elements--service.support-24-7 {
  background-image: url("assets/icon-24-7-support.svg");
}

.services-elements--service.feel-like-a-star {
  background-image: url("assets/icon-feel-like-a-star.svg");
}

.services-elements--service p {
  margin-block-start: 12px;
  margin-block-end: 0;
  max-height: 65px;
  font-size: 12px;
  letter-spacing: -0.005em;
  line-height: 1.84em;
  text-align: justify;
  hyphens: manual;
  overflow: hidden;
}

.services-elements--service:last-child p {
  letter-spacing: normal;
}
.services-elements--service:nth-child(3n+2) {
  margin-left: -0.1em;
}
.services-elements--service:nth-child(3n) h3,
.services-elements--service:nth-child(2) h3 {
  letter-spacing: 0;
} 
.services-elements--service:nth-child(5) h3 {
  letter-spacing: -0.023em;
}


/*2*/

.wrapper {
  width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}
h2, h3 {
  font-weight: 900;
  color: #666d89;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 30px;
}
h3 {
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 0.8em;
}

.portfolio-block p,
.block-about-us p {
  font: 300 18px/30px "Lato", "Arial", sans-serif;
  text-align: justify;
  letter-spacing: -0.012em;
  margin-block-start: 18px;
  margin-block-end: 0;
  color: #666d89;
}


button {
  padding: 0;
  background-color: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
  color: inherit;
}
button:disabled {
  opacity: 0.7;
  cursor: default;
}

/*PORTFOLIO*/

.portfolio-block,
.block-about-us {
  width: 100%;
}
.portfolio-block {
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
  padding-top: 60px;
  padding-bottom: 67px;
}
.portfolio-block h2 {
  letter-spacing: 0.009em;
}
.portfolio--hashtag {
  padding-left: 1px;
  margin-top: 10px;
  margin-bottom: 19px;
}
.portfolio--hashtag .hashtag {
  padding: 4px 7px 4px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.02em;
  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 5px;
}

.portfolio--hashtag .hashtag:hover {
  color: #dedede;
  border-color: #dedede;
}

.portfolio--hashtag .hashtag.selected {
  color: #dedede;
  border-color: #dedede;
  cursor: default;
}
.portfolio--hashtag .hashtag:not(:first-child) {
  margin-left: 6px;
}


.portfolio-gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 601px;
  overflow: hidden;
}
.portfolio-gallery--picture {
  margin-bottom: 20px;
}
.portfolio-gallery--picture:nth-child(n+9) {
  margin-bottom: 0;
}

/*about-us*/

.block-about-us {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  padding-top: 59px;
  padding-bottom: 64px;;
}

.block-about-us h2 {
  letter-spacing: -0.006em;
}

.about-us--workers {
  display: flex;
  margin-top: 45px;
}

.block-about-us--worker {
  width: 300px;
}

.block-about-us--worker:nth-child(2) {
  margin-left: 19px;
}

.block-about-us--worker:nth-child(3) {
  margin-left: 21px;
}

.block-about-us--worker h3 {
  margin-top: 13px;
  letter-spacing: -0.005em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.block-about-us .block-about-us--worker p {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.75em;
  font-weight: normal;
}
.block-about-us--worker:nth-child(2) h3 {
  letter-spacing: -0.01em;
}
.block-about-us--worker:nth-child(3) h3,
.block-about-us--worker:nth-child(3) p,
.block-about-us--worker:nth-child(3) .social--icons {
  margin-left: -1px;
}
.block-about-us--worker:nth-child(3) h3 {
  letter-spacing: 0.005em;
}
.block-about-us--worker:nth-child(3) p {
  letter-spacing: -0.003em;
}
.block-about-us--worker:nth-child(2) p {
  letter-spacing: 0;
}


.social--icons {
  padding-left: 1px;
  margin-top: 24px;
}
.social--icons .icon {
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #666d89;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.social--icons .icon:not(:first-child) {
  margin-left: 4px;
}
.social--icons .icon:hover {
  opacity: 0.6;
}
.icon.icon_facebook {
  background-image: url("assets/icon_facebook.svg");
}
.icon.icon_google-plus {
  background-image: url("assets/icon_google-plus.svg");
  background-position-x: 7px;
}
.icon.icon_twitter {
  background-image: url("assets/icon_twitter.svg");
  background-position-x: 7px;
}
.icon.icon_linkedin {
  background-image: url("assets/icon_linkedin.svg");
  background-position-y: 7px;
}

/*3*/

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 900;
  color:#666d89;
  font-size: 30px;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-weight: 900;
  color:#666d89;
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 0.8em;
}

.wrapper {
  box-sizing: border-box;
  width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
}
.contacts-block {
  width: 100%;
}

.contacts-block h2 {
  letter-spacing: -0.009em;
}

.contacts-block p {
  font: 300 18px/30px "Lato", "Arial", sans-serif;
  text-align: justify;
  margin-block-start: 18px;
  margin-block-end: 0;
  letter-spacing: -0.012em;
  color: #666d89;
}

button {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
}

button:hover,
button:focus {
  filter: saturate(130%);
}

button:disabled {
  opacity: 0.7;
}

.social--icons {
  padding-left: 1px;
  margin-top: 24px;
}

.social--icons .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #666d89;
  border-radius: 50%;
}

.social--icons .icon:not(:first-child) {
  margin-left: 4px;
}

.social--icons .icon:hover,
.contacts-form--info .phone:hover,
.contacts-form--info .email:hover {
  opacity: 0.7;
}

.icon.icon_facebook {
  background-image: url("assets/icon_facebook.svg");
}

.icon.icon_google-plus {
  background-image: url("assets/icon_google-plus.svg");
  background-position-x: 7px;
}
.icon.icon_twitter {
  background-image: url("assets/icon_twitter.svg");
  background-position-x: 7px;
}
.icon.icon_linkedin {
  background-image: url("assets/icon_linkedin.svg");
  background-position-y: 7px;
}


.contacts-block {
  padding-top: 60px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
  padding-bottom: 13px;
  
}
.contacts-block h2,
.contacts-block h3,
.contacts-block p,
.contacts-block a {
  color: #f0d8d9;
}

.contacts-form {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.form  {
  display: block;
}
input:hover{
    background-color: #410d18;
}
input,
textarea,
form button {
  box-sizing: border-box;
  font: normal 12px/14px "Lato", "Arial", sans-serif;
  border: none;
  padding: 12px 15px;
  width: 619px;
  border-radius: 5px;
  background-color: #d6564f;
  color: #f0d8d9;
}

::placeholder {
  color: #f48c8f;
  opacity: 1;
}

input,
textarea {
  margin-bottom: 16px;
}

textarea {
  padding: 11px 15px 13px 14px;
  max-height: 202px;
  resize: none;
}



.form--button {
  padding: 12px 17px 10px;
  width: initial;
  background-color: #f06c64;
  color: #f0d8d9;
  border: 1px solid #f0d8d9;
}

.form--button:hover {
  padding: 13px 18px 11px;
  background-color: #410d18;
  border: none;
}

.contacts-form--info {
  width: 303px;
  padding-left: 3px;
  box-sizing: border-box;
}

.contacts-form--info h3 {
  margin-top: 2px;
  letter-spacing: 0.004em;
}

.contacts-form--info > p,
.contacts-form--info > a {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 12px;
  font-weight: normal;
  font-size: 12px;
  letter-spacing: -0.004em;
  line-height: 22px;
  text-align: justify;
  hyphens: manual;
}

.contacts-form--info > a {
  display: block;
  margin-block-start: 0;
  padding-left: 23px;
  line-height: 22px;
  text-decoration: none;
}

.contacts-form--info .address {
  margin-block-start: 0;
  margin-top: 20px;
  padding-left: 23px;
  letter-spacing: -0.013em;
  background: transparent url("assets/icon-location.svg") no-repeat 3px center;
}

.contacts-form--info .phone {
  margin-top: -0.07em;
  letter-spacing: -0.016em;
  background: transparent url("assets/icon-phone.svg") no-repeat left center;
}

.contacts-form--info .email {
  letter-spacing: -0.002em;
  background: transparent url("assets/icon-email.svg") no-repeat left 7px;
}


footer {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 19px;
  background-color: #2d303a;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-text {
  margin-top: -4px;
  font-weight: 300;
  color: #666d89;
  font-size: 12px;
  letter-spacing: -0.004em;
}

footer .social--icons {
  margin: 0;
}

/*SLIDER*/


.carousel {
  position: relative;
  top: 327px;
  left: 50%;
  width: 100%;
  height: 600px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.item-container {
  position: relative;
  width: 95%;
  height: 600px;
  overflow: hidden;
}

.item {
  display: none;
  height: 600px;
  position: relative;
  margin: 0 auto;
  animation: 0.6s ease-in-out;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%; 
}

.description {
  display: flex;
  /* margin: 30px 20%; */
  font-size: 32px;
  justify-content: space-between;
  align-items: center;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  cursor: pointer;
}
/*
.control.left {
  left: 0;
  right: auto;
}

.control.right {
  left: auto;
  right: 0;
}
*/
.arrow {
  position: absolute;
  transform: translateY(-50%);
}
/*
.arrow.right {
  right: 50%;
}
*/
.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

#btn-left {
  display: flex;
  position: relative;
  margin-top: 20%;
}
#btn-right {
  display: flex;
    position: relative;
    left: 900px;
    top: -536px;
}

.img2 {
  padding-left: 23%;
  top: -34px;
  position: relative;
}
.iphone1{
  top: -28px;
  left: 48px;
  position: relative;
}
.iphone2{
  left: -77px;
  top: -28px;
  position: relative;
}

@keyframes left {
  from {
      left: 0;
  }
  to {
      left: -100%;
  }
}

@keyframes right {
  from {
      left: 100%;
  }
  to {
      left: 0;
  }
}